.container{
    display: grid;
}

.users{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#addContact{
    background-color: rgb(58, 58, 185);
    width: 150px;
    height: 50px;
    font-size: 12px;
    color: white;
    margin-right: 15px;
    margin-top: 20px;
    border-radius: 4px;
}

#all, #sales, #support, #assign{
    border: none;
    background-color: white;
    font-size: 14px;
}

.d-container{
    background-color: white;
    width: 80%;
    border: 1px solid grey;
    margin: auto;
    padding: 10px;
}

#filter{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 0%;
    margin-left: 20px;
}

img {
    margin-top: 10px;
}

p{
    margin-top: 20px;
}

.dashboard{
    margin-top: 15px;
    background-color: white;
    text-align: center;
    align-content: center;
}

.user-list-table{
    width: 95%;
}

table{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

th, td {
    border-bottom: 1px solid grey;
    padding: 10px;
}

#row-headings{
    background-color:#EFEFEF ;
}


